@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:focus-visible {
  outline: 0px !important;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5em);
  }
}

.animate-scroll-left {
  animation-name: scroll-left;
}

.animate-scroll-right {
  animation-name: scroll-right;
}

/* Ensure smooth scrolling */
.animate-scroll-left,
.animate-scroll-right {
  will-change: transform;
}

/* Pause animation on hover */
.group:hover .group-hover\:pause {
  animation-play-state: paused;
}
